* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    width: 99vw;
    height: 99wh;
    color: white;
    /* background-color: black; */
    /* background-image: url("../imge/back.jpg"); */
    /* background-attachment: fixed; */
    /* 决定背景图像的位置是在视口内固定，或者随着包含它的区块滚动 */
    /* background-size: cover; */
    /* 图片可以保有其原有的尺寸，或者拉伸到新的尺寸，或者在保持其原有比例的同时缩放到元素的可用空间的尺寸。 */
    margin: 0 auto;
    /* 横向居中 */
    padding: 0;
    font-family: "Arial", "Tahoma", "微软雅黑", "雅黑";

    background-color: black;
    /* background-image:
        radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
        radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
        radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
        radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px); */
    /* background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; */
    /* background-position: 0 0, 40px 60px, 130px 270px, 70px 100px; */
}

header {
    width: 100%;
    /* height: 5em; */
    text-shadow: 5px 5px 5px #eeeeee;
    color: white;
    text-align: center;
    /* 文本居中 */
    /* border: 1px #F00 solid; */
    /* clear: both; */
    margin-top: 2em;

}

/* 黑客帝国背景设置 */
#matrix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}

main {
    width: 100%;
    height: 100%;
    /* float: left; */
    /* border: 1px #F00 solid; */
    /* margin: 0 auto; */
    /* display: flex; */
    /* 弹性布局 */
    /* justify-content: center; */
    /* 横向居中 */

    /* align-items: center; */
    /* 垂直居中 */
}



.left {
    width: 10em;
    height: 700px;
    margin-left: 0.5em;
    float: left;
    /* border: 1px #F00 solid; */
}



.menu {
    background-color: rgb(45 54 65 / 75%);

}



.part {
    /* margin-top: 1em; */
    height: auto;
    text-align: center;
    line-height: 3em;
    border-bottom: 1px solid #FFF;
    border-radius: 5px;
}

/* 多个类名，可以选择其中一个 */
/* .part3 {
    border: none;
} */

.left a {
    /* background-color: silver; */
    color: yellowgreen;
    /* float: left; */
    padding: 7px;
    font-weight: bold;
    text-decoration: none;
    /* display:block - 显示块元素的链接，让整体变为可点击链接区域（不只是文本），它允许我们指定宽度 */
    display: block;
}

.left a:hover,
a:active {
    background-color: rgba(126, 218, 138, 0.75);
}


.mid {
    /* width: calc(100% - 12em); */
    height: 100%;
    /* border: 1px #F00 solid; */
    margin-left: 12em;
}

.search {
    display: flex;
    /* 横向居中 */
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 3em;
    height: 40px;
    width: 90%;
}

.search form {
    width: 100%;
    height: 32px;
    margin-left: 10em;
}

.search>form input:nth-child(1) {
    width: 500px;
    height: 100%;
    font-size: 16px;
    text-indent: 40px;
    border: none;
    float: left;
    /* border-radius: 50px; */
}

.search>form input:nth-child(2) {
    width: 100px;
    height: 100%;
    font-size: 16px;
    letter-spacing: 5px;
    border: none;
    background-color: whitesmoke;
    /* border-radius: 50px; */
    margin-left: 1px;
}

.item {
    margin-left: 2em;
    /* border: 1px #F00 solid; */
    width: auto;
    height: auto;
    margin-top: 2em;
}

.item_title {
    height: 100%;
    width: 100px;
    /* border: 1px #F00 solid; */
    float: left;
    font-size: 20px;
    margin-top: 1em;
    color: yellow;
}





.item_Content {
    /* border: 1px #F00 solid; */
    margin-left: 5em;
    width: 80%;
    /* height: 2em; */
    /* 多个 子div 横向排序,超出 父div 宽度后,自动换行 */
    /* <!--父div 样式 : display: flex;flex-wrap:wrap ,控制横向排序,超出换行--> */
    /* <!--父div 样式 : height: 220px;overflow:auto ,控制超出父div高度出现滚动条--> */
    display: flex;
    flex-wrap: wrap;
}

.item_Content a {
    float: left;
    width: 10em;
    height: 3em;
    margin: 1em;

}

.btn {
    width: 100%;
    /* text-align: center; */

    /* border: #eeeeee solid 1px; */
    /* 去除去掉a标签超链接下划线 */
    background-size: 300% 100%;
    /* 圆角 */
    /* border-radius: 50px; */
    /* background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376); */
    box-shadow: 0 4px 15px rgba(126, 218, 138, 0.75);
    background-color: rgb(45 54 65 / 75%);
    border: 1px solid rgba(126, 218, 138, 0.75);
    /* color: rgb(255, 99, 99); */
    /* z-index: 1; */
    display: inline-block;
    padding: 0.5em;
}

.btn_name {
    /* width: 100%; */
    /* text-align: center; */
    font-size: 1em;
    line-height: 1.5;
    color: yellow;
}

.btn_note {
    color: ghostwhite;
    font-size: 0.5em;
    text-align: left;
    line-height: 1.6;
    display: -webkit-box;
    /*值必须为-webkit-box或者-webkit-inline-box*/
    -webkit-box-orient: vertical;
    /*值必须为vertical*/
    -webkit-line-clamp: 1;
    /*值为数字，表示一共显示几行*/
    overflow: hidden;
}

.btn:hover {
    /* color: rgb(255, 99, 99); */
    /* border: 1px solid rgb(255, 99, 99); */
    background-color: rgba(126, 218, 138, 0.75);
}




.item_Content a {
    line-height: 2.5em;
    color: #eeeeee;
    text-decoration: none;

}



footer {
    width: 100%;
    height: 5em;
    /* border: 1px #F00 solid; */
    margin-top: 3em;
    text-align: center;
}